fuzzysearch==0.7.3
haversine==2.5.1
matplotlib==3.5.1
networkx==2.8
osmnx==1.1.2
pandas==1.4.2
python_telegram_bot==13.11
requests==2.26.0
scikit_learn==1.1.1
staticmap==0.5.5
telegram==0.0.1
typing_extensions==4.2.0
